MySQL_DB_HOST=
MySQL_DB_NAME=
MySQL_DB_USER=
MySQL_DB_PASSWORD=

GEOAPIFY_API_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=

FONNTE_API_TOKEN=
FONNTE_NUMBER=

WEBSITE_DOMAIN=

MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=